body {
    background-color: whitesmoke;
    }

h1 {
    color: rgb(255, 255, 255);
    background-color: lightseagreen;
    text-align: center;
    margin: 20px;
    padding: 7px;
    }

p {
    color: black;
    margin: 20px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    }

#para1 {
    color: whitesmoke;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightskyblue;
    padding: 10px;
}

div {
    background-color: lightseagreen;
    padding: 25px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 30px;
  }

h2 {
    color: black;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}